.layout {
  width:960px;
  margin:0 auto;
}

#map {
	width:100%;
	height:100%;
	position:absolute;
	background-color:rgba(95,93,93,0.55);
	bottom:0;
	left:0;
}
.title {
	background-color:#000000;
}

h1.title {
  width:100%;
  padding:10px 0;
  position:absolute;
  top:0;
  right:0;
  background-color:rgba(15,111,164,.75);
  color:#fff;
	font-family:'Old Standard TT', sans-serif;
	font-size:26pt;
	font-weight:normal;
  text-align:center;
  text-transform:uppercase;
}

.about {
  width:100%;
  padding:20px 0;
  position:absolute;
  bottom:0;
  right:0;
  color:#fff;
  background-color:rgba(15,111,164,.75);
  font-family:'Old Standard TT', sans-serif;
  font-size:16px;
  font-weight:normal;
}

.about p {
  margin-bottom:5px;
}

.about cite p {
  font-family:'Old Standard TT', sans-serif;
  font-size:10pt;
}
#contact {
  font-size:10pt;
  text-align:center;
  color:#ffffff;
  text-transform:none;
  margin-top:5px;
  margin-bottom:5px;
}

#license {
	font-size:9pt;
	text-align:center;
}

.sliderContainer {
	width:960px;
  margin:20px auto;
  margin-bottom:7px;
  margin-top:7px;
}

.ui-widget-content .ui-state-default,
.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
	background:#B81900;
    border:1px solid #ff0000;
}

.ui-slider .ui-slider-handle {
  width:auto;
  margin-top:-2px;
  padding:4px;
	color:#FFFFFF;
  font-size:14px;
  text-decoration:none;
}

.wax-tooltip {
	max-width:200px;
	padding:10px;
	position:absolute;
	top:80px;
	right:10px;
	z-index:999999;
	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:rgba(164,15,36,.75);
	color:#FFFFFF;
	font-family:'Old Standard TT', sans-serif;
	font-style:'italic';
	-webkit-user-select:auto;
	opacity:1;
	-webkit-transition-property:opacity;
	transition-property:opacity;
	-o-transition-property:opacity;
	-ms-transition-property:opacity;
	-moz-transition-property:opacity;
	-webkit-transition-duration:150ms;
	transition-duration:150ms;
	-o-transition-duration:150ms;
	-ms-transition-duration:150ms;
	-moz-transition-duration:150ms;
	-webkit-transition-timing-function:initial;
	transition-timing-function:initial;
	-o-transition-timing-function:initial;
	-ms-transition-timing-function:initial;
	-moz-transition-timing-function:initial;
	-webkit-transition-delay:initial;
	transition-delay:initial;
	-o-transition-delay:initial;
	-ms-transition-delay:initial;
	-moz-transition-delay:initial;
}

.wax-fade {
	opacity:0;
}
