
.layout {
  width:960px;
  margin:0 auto;
}


#map {
  width:100%;
  height:100%;
  position:absolute;
  background-color:rgba(95,93,93,0.25);
  bottom:0;
  left:0;
  z-index:9990;
}

h1.title {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(15, 111, 164, .75);
  color: white;
  font-family: 'NewsCycleRegular', sans-serif;
  font-size: 32pt;
  font-weight: regular;
  text-align: center;
  z-index:99998;
  text-transform: uppercase;
}

#contact {
  font-size: 10pt;
  text-align: center;
  color: white;
  font-weight:normal;
  text-transform: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.about {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: rgba(15, 111, 164, .75);
  font-family: 'UniversElseRegular', sans-serif;
  font-size: 16px;
  font-weight: normal;
  z-index:99999;
}

.about p {
  margin-bottom:10px;
  font-size:13pt;
}

.about cite p {
  font-family:'UniversElseRegular', sans-serif;
  font-size:12pt;
}

.sliderContainer {
  width: 960px;
  margin: 20px auto;
  margin-bottom: 7px;
  margin-top: 7px;
  z-index:99999;
}

.ui-widget-content .ui-state-default,
.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
	background:#B81900;
  border:1px solid #ff0000;
}

.ui-slider .ui-slider-handle {
  width:auto;
  margin-top:-2px;
  padding:4px;
	color:#FFFFFF;
  font-size:14px;
  text-decoration:none;
  z-index:99999;
}

#license {
  font-size: 9pt;
  text-align: center;
}

.wax-tooltip, .wax-tooltip-0 {
	max-width:200px;
	padding:10px;
	position:absolute;
	top:80px;
	left:80%;
	z-index:999999;
	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#B81900;
	color:#FFFFFF;
	font-family:'UniversElseRegular', sans-serif;
	font-style:'italic';
	-webkit-user-select:auto;
	opacity:1;
	-webkit-transition-property:opacity;
	transition-property:opacity;
	-o-transition-property:opacity;
	-ms-transition-property:opacity;
	-moz-transition-property:opacity;
	-webkit-transition-duration:150ms;
	transition-duration:150ms;
	-o-transition-duration:150ms;
	-ms-transition-duration:150ms;
	-moz-transition-duration:150ms;
	-webkit-transition-timing-function:initial;
	transition-timing-function:initial;
	-o-transition-timing-function:initial;
	-ms-transition-timing-function:initial;
	-moz-transition-timing-function:initial;
	-webkit-transition-delay:initial;
	transition-delay:initial;
	-o-transition-delay:initial;
	-ms-transition-delay:initial;
	-moz-transition-delay:initial;
}

.wax-fade {
	opacity:0;
}

.leaflet-control-zoom {
	left:0px;
	top:76px;
}
